<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>


    <%- include("partials/head")%>

</head>

<body>
    <%- include("partials/navigation") %>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">about</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente suscipit nesciunt dolorem
                    voluptatum? Quis dignissimos ipsum exercitationem accusantium architecto iusto qui aperiam sapiente
                    fuga totam! Dignissimos dolores perferendis suscipit, numquam totam reprehenderit adipisci, unde
                    esse nam impedit repellat dolorem accusantium facilis pariatur atque, maxime blanditiis
                    necessitatibus aliquid inventore possimus ab velit officia! Natus exercitationem soluta aspernatur
                    repellat possimus sapiente voluptatibus officia porro eveniet dolore, omnis esse rem asperiores
                    doloremque laboriosam et voluptates a animi beatae provident neque. Beatae sint facilis officiis, at
                    minus et voluptatem vitae cumque molestias nesciunt vel soluta quae cum distinctio possimus qui
                    quas. Alias velit, recusandae consequuntur nobis aperiam, nostrum harum nam dicta nemo temporibus
                    amet necessitatibus officiis quas reprehenderit, quisquam atque repellat ipsum dolorem cum unde quam
                    error laborum ex? Amet minus, distinctio voluptatum nobis aspernatur mollitia quidem, ex est numquam
                    reiciendis commodi. Consequatur a aliquam quaerat saepe ad! Blanditiis rem maxime eius facilis
                    voluptates perspiciatis, dolorem, cumque fuga ipsum unde quidem esse neque asperiores mollitia
                    pariatur placeat, dignissimos quibusdam impedit delectus voluptatum! Commodi voluptatibus velit ipsa
                    cum odit repellendus, labore quisquam blanditiis neque reprehenderit debitis vitae, suscipit maiores
                    libero quam officiis cumque, quod placeat mollitia autem eveniet eius! Similique vel iste quis est
                    voluptatum?</p>
            </section>
        </main>


        <!--footer-->
        <%- include("partials/footer") %>
</body>

</html>